header {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}


/* إضافة تدرج باللون على الطبقة التي تلي الخلفية */

header .overlay {
    background: rgba(41, 153, 155, 0.8);
    background: linear-gradient(to right, rgba(41, 153, 155, 0.8) 0%, rgba(167, 173, 44, 0.8) 100%);
    height: 100vh;
}


/* تضمين الخط الجديد في الصفحة */

@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    direction: rtl;
    font-family: ar-font;
}

nav.navbar ul.navbar-nav {
    padding-right: 0;
}


/* التنسيقات الخاصة بالعناصر الموجودة في القائمة */

nav.navbar ul.navbar-nav li a.nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}


/* التنسيقات التي تظهر عند مرور مؤشر الفأرة على أحد عناصر القائمة */

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #16aeca;
    background-color: #ffffff;
}


/* تغير ترتيب الطبقات لتصبح قائمة التنقل أعلى طبقة في الصفحة */

nav.navbar {
    text-align: right;
    z-index: 20;
}


/* تصغير حجم شعار الصفحة */

nav.navbar .navbar-brand img {
    width: -80%;
}


/* تغيير لون العناصر في القائمة بعد النزول إلى الأسفل */

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #16aeca;
}


/* تغيير لون القوائم عند المرور فوقها بمؤشر الفأرة */

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dae413;
    background-color: #16aeca;
}


/* إضافة إطار سفلي للقائمة، وجعل لون خلفية القائمة بالأبيض */

nav.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}


/* تصغير حجم شعار الشركة وجعل عرضه مساويا إلى 80% من العنصر الذي يحتويه */

nav.navbar.noTransparrent .navbar-brand img {
    width: 80%;
}

nav.navbar button.navbar-toggler {
    margin: 30px auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

nav.navbar button.navbar-toggler span {
    color: #ffffff;
}


/* تغيير لون الأيقونة عند النزول بالصفحة إلى الأسفل */

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #16aeca;
}


/* تنسيق قائمة التنقل فى مقاس الجوال */

@media (max-width: 767px) {
    nav.navbar .container {
        /* ليصبح حجم الحاوى مساوي لحجم الشاشة */
        max-width: 100%;
        /* bootstrap لتبديل اماكن العناصر فى القائمة و لتتناسب مع النسخة الحديثة من */
        flex-direction: row-reverse;
    }
    .navbar .navbar-toggler {
        /* إلغاء الحدود الافتراضية الموجودة على زر القائمة*/
        outline: none;
        margin: 0 !important;
    }
    .navbar .navbar-toggler span {
        /* لتوسيط ايقونة زر الهاتف فى المنتصف*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav.navbar .navbar-brand img {
        /* تصغير حجم الصورة فى مقاس الهاتف*/
        width: 80%;
    }
}


/* تحديد لكل شريحة ارتفاع يساوي ارتفاع شاشة العرض */

header .overlay .slider .carousel-inner .carousel-item {
    min-height: 100vh;
    opacity: 0;
}


/* التنسيقات المطبقة على العنوان */

header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 40px;
    line-height: 60px;
}


/* تحريك العنوان إلى الأعلى */

header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
    bottom: 30%;
}


/* التنسيقات المطبقة على الرابط التشعبي أسفل العنوان */

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a {
    font-size: 18px;
    line-height: 50px;
    background-color: #16aeca;
    color: #ffffff;
    border-radius: 30px;
    padding: 0px 2rem;
    margin-top: 30px;
    display: inline-block;
    transition: all 1s ease;
    transform: translateY(50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a {
    transform: translateY(0px);
}


/* التنسيقات المطبقة عند مرور مؤشر الفأرة فوق الزر */

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover {
    text-decoration: none;
    background-color: #dae413;
    color: #555555;
}


/* active إزالة الشفافية عن الشريحة الفعالة */

header .overlay .slider .carousel-inner .carousel-item.active {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    opacity: 1;
}


/* تنسيقات المطبقة على الخط في العنوان */

section.services .title h2 {
    font-size: 40px;
    line-height: 60px;
}


/* ضبط الحاشية والهامش لقسم الخدمات والنص داخله */

section.services {
    padding: 120px 0 60px;
}

section.services .title {
    margin-bottom: 50px;
}


/* تطبيق تنسيقات الخلفية وضبط الهامش لصنف البطاقات */

section.services .card {
    background-color: #ffffff;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
}

section.services .card img {
    width: 140px;
    margin: 0 auto;
}


/* التنسيقات المطبقة على خط العنوان داخل البطاقات */

section.services .card .card-block h4 {
    font-size: 24px;
    line-height: 35px;
    color: #070c0c;
}


/* تنسيق الخط للفقرة النصية داخل البطاقات وجعلها غير مرئية */

section.services .card .card-block p {
    font-size: 15px;
    line-height: 20px;
    color: #919191;
    opacity: 0;
}


/* زيادة إطار البطاقات عند مرور مؤشر الفأرة وجعل الفقرة النصية مرئية */

section.services .card:hover {
    height: 350px;
}

section.services .card:hover img {
    width: 140px;
    margin: 10px auto;
}

section.services .card:hover .card-block p {
    opacity: 1;
}

section.services .card {
    transition: all 1s ease-in-out;
}

section.services .card img {
    transition: all 1s ease-in-out;
}

section.services .card .card-block p {
    transition: opacity 0.5s ease-in-out;
}

section.services .card:hover {
    transition: height 0.5s ease-in-out;
}

section.services .card:hover .card-block p {
    transition: opacity 1s ease-in-out;
}

section.gallery .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.gallery {
    padding: 120px 0 0;
}

section.gallery .title {
    margin-bottom: 50px;
}

section.gallery .work-gallery a {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

section.gallery .work-gallery a img {
    width: 100%;
}

section.gallery .work-gallery a .hover {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #16aeca;
    color: #ffffff;
    opacity: 0;
    z-index: 9;
    transition: all .5s ease;
}

section.services .card .card-block p {
    font-size: 15px;
    line-height: 20px;
    color: #919191;
    opacity: 0;
}

section.gallery .work-gallery a .hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

section.gallery .work-gallery a:hover .hover {
    opacity: 1;
}

section.gallery .work-gallery .overlay-gallery:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .work-gallery .overlay-gallery img {
    width: 100%;
}

section.gallery .work-gallery .overlay-gallery {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    right: 0px;
    top: 0px;
    z-index: 30;
    padding: 5% 10%;
    opacity: 0;
    transition: all 1s ease;
    margin-top: -100vh;
    /*-حتى تظهر فوق شريط التنقل-*/
    text-align: right;
    background: rgba(0, 0, 0, 0.9);
}

section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
    font-size: 36px;
    line-height: 52px;
    color: #16aeca;
    margin-bottom: 30px;
}


/* تنسيقات قائمة الروابط وإضافة خط في أعلى الفقرة */

section.gallery .work-gallery .overlay-gallery .gallery-text ul {
    padding-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}


/* (تنسيقات عناصر القائمة (الأيقونة والروابط التشعبية */

section.gallery .work-gallery .overlay-gallery .gallery-text ul li {
    color: #dae413;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul li a {
    color: #dae413;
}


/* التنسيقات المطبقة على الخط في الفقرة النصية داخل الطبقة */

section.gallery .work-gallery .overlay-gallery .gallery-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 40px;
    color: #ffffff;
}


/* التنسيقات الخاصة بزر زيارة المشروع */

section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0px 30px;
    background-color: #16aeca;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    Width: auto;
}


/* تنسيقات زر زيارة المشروع عند مرور مؤشر الفأرة فوقه */

section.gallery .work-gallery .overlay-gallery .gallery-text a.visit:hover {
    text-decoration: none;
    background-color: #dae413;
}


/* التنسيقات المطبقة على أيقونة الإغلاق */

section.gallery .work-gallery .overlay-gallery a.close {
    z-index: 10;
    color: #ffffff;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 60px;
    text-align: center;
    opacity: 0;
    Width: auto;
}


/* ضبط الهامش الخاص بالفقرة النصية */

section.gallery .work-gallery .overlay-gallery .gallery-text {
    margin: 50px auto 0px;
}


/* إخفاء طبقة الأعمال وظهورها عند النقر عليها */

section.gallery .work-gallery .overlay-gallery:target {
    opacity: 1;
    bottom: 0px;
    left: 0px;
    padding: 5% 10%;
    margin: 0;
}

section.gallery .work-gallery .overlay-gallery:target img,
section.gallery .work-gallery .overlay-gallery:target a.close {
    opacity: 1;
    max-width: 100%;
}


/* التنسيقات المطبقة على الخلفية المستخدمة */

section.statistics {
    background-image: url(../images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/* التنسيقات المطبقة على الطبقة التي تغطي الخلفية */

section.statistics .overlay {
    background-color: rgba(22, 174, 202, 0.8);
    padding: 100px 0;
}


/* تنسيقات الخط المستخدم في الفقرات */

section.statistics .overlay .stat p {
    font-size: 18px;
    color: #85ecff;
    line-height: 22px;
}


/* تنسيق الصفحة السوداء (صفحة الأعمال) وجعلها أمام كل الصفحات */

section.statistics .overlay .stat .count {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    Color: #ddfaff;
}


/* تنسيقات لون الخلفية وضبط الحاشية الخاصة بها */

section.contacts {
    background-color: #ffffff;
    padding-top: 120px;
    text-align: right;
}


/* تنسيقات الخط المستخدم بالعنوان */

section.contacts .info h3 {
    font-size: 24px;
    line-height: 50px;
    color: #181c1c;
    font-weight: bold;
}


/* إلغاء الحاشية الزائدة التي يتم إضافتها بشكل تلقائي */

section.contacts .info ul {
    padding: 0;
}


/* التنسيقات الخاصة بالعناصر الفرعية للقائمة */

section.contacts .info ul li {
    font-size: 18px;
    line-height: 25px;
    color: #16aeca;
    margin-bottom: 15px;
}


/* ضابط الهامش الخاص بعناصر القوائم */

section.contacts .info ul li i {
    margin-left: 10px;
}


/* التنسيقات الخاصة بالعنوان في النموذج وضبط الهامش الخاص به */

section.contacts .form h3 {
    font-size: 24px;
    line-height: 50px;
    color: #181c1c;
    font-weight: bold;
    margin: 50px auto 20px;
}


/* تنسيقات لون الخلفية وضبط الحاشية الخاصة به */

section.contacts {
    background-color: #ffffff;
    padding-top: 120px;
}


/* التنسيقات الخاصة بحقول الإدخال */

section.contacts .form form input,
textarea {
    background-color: #f7f7f7;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #5c5c5c;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
}


/* تنسيقات زر الإرسال */

section.contacts .form form button {
    background-color: #16aeca;
    border: 0px;
    border-radius: 3px;
    color: #ffffff;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 25px;
    margin-right: 15px;
}


/* تصغير نموذج الإرسال وتعيين موضعه في وسط الصفحة */

section.contacts .cmxform {
    width: 60%;
    margin: 0 auto 50px;
}


/* ظهور رسالة التحذير باللون الأحمر */

section.contacts .form form .error {
    color: red;
}


/* تنسيق اللون على خلفية تذييل الصفحة وضبط الحاشية الخاصة بها */

footer .top-footer {
    background-color: #171717;
    padding: 75px 0;
    text-align: right;
}


/* تنسيقات الخط المستخدم في العنوان */

footer .top-footer h3 {
    font-size: 18px;
    line-height: 45px;
    color: #85ecff;
    margin-bottom: 30px;
    position: relative;
}


/* إضافة خط صغير أسفل العنوان */

footer .top-footer h3:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: #5c5c5c;
}


/* تنسيقات الفقرة النصية */

footer .top-footer p {
    font-size: 15px;
    line-height: 22px;
    color: #919191;
    margin-bottom: 50px;
}


/* إزالة الحاشية الافتراضية للقوائم */

footer .top-footer ul {
    padding: 0;
}


/* التنسيقات المطبقة على ازرار التواصل الاجتماعي */

footer .top-footer ul.social li a i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    background-color: #333333;
    color: #acacac;
    transition: all 0.3s ease;
}


/* ضبط الحاشية الخاصة بأيقونات التواصل الإجتماعي */

footer .top-footer ul.social li {
    margin-right: 5px;
}


/* تغير لون الأيقونات عند المرور فوقها بمؤشر الفأرة */

footer .top-footer ul.social li a.facebook:hover i {
    background-color: #3b5999;
}


/* التنسيقات الخاصة بعناصر القائمة */

footer .top-footer ul.contact-us li {
    margin-bottom: 35px;
    font-size: 18px;
    color: #676767;
}


/* ضبط الهامش الخاص بالعنصر الأخير في القائمة */

footer .top-footer ul.contact-us li:last-of-type {
    margin-bottom: 0;
}


/* التنسيقات المطبقة على الأيقونات */

footer .top-footer ul.contact-us li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    background-color: #333333;
    color: #acacac;
    margin-left: 20px;
}


/* ضبط لون الخلفية الخاص بأسفل الصفحة */

footer .copyright {
    background-color: #111111;
}


/* تنسيقات الفقرة النصية في الجزء السفلي من تذييل الصفحة */

footer .copyright p {
    font-size: 15px;
    line-height: 80px;
    color: #919191;
}


/* إزالة الهامش أسفل الصفحة */

footer .copyright p {
    font-size: 15px;
    line-height: 78px;
    color: #919191;
    margin-bottom: 0;
}


/* التنسيقات المطبقة على الشاشات التي عرضها أصغر من 980 بكسل */

@media (max-width: 980px) {
    nav.navbar ul.navbar-nav li a.nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
        font-size: 30px;
    }
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        bottom: 25%;
    }
    section.services .card {
        height: 290px;
    }
}


/* التنسيقات المطبقة على الشاشات التي عرضها أصغر من 767 بكسل */

@media (max-width: 767px) {
    .navbar {
        padding: .5rem 0rem;
    }
    nav.navbar .container {
        width: 100%;
    }
    nav.navbar .navbar-brand img {
        width: 80%;
    }
    nav.navbar .navbar-collapse {
        background-color: #16aeca;
    }
    nav.navbar.noTransparrent .navbar-collapse {
        background-color: #ffffff;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
        font-size: 14px;
        line-height: 40px;
    }
    section.contacts .cmxform {
        width: 100%;
    }
}

@media (max-width: 575px) {
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        left: 2%;
        right: 2%;
    }
    header .overlay .slider .carousel-control-prev,
    header .overlay .slider .carousel-control-next {
        display: none;
    }
    .work-gallery .col-md>.col-sm>a {
        display: block !important;
    }
    .work-gallery .col-md>.col-sm>a img {
        width: 100%;
    }
    section.gallery .work-gallery .overlay-gallery img {
        width: 50%;
    }
}